In [ ]:
print('hi')

hi

In [2]:
%1s

UsageError: Line magic function `%1s` not found.

In [3]:
type(3)

int

In [4]:
type(true)

NameError: name 'true' is not defined

In [5]:
type('true')

str

In [6]:
import math

In [7]:
x = 'name'

In [8]:
x

'name'

In [9]:
print(x)

name

In [10]:
y= 'name2'

In [11]:
z= z + y

NameError: name 'z' is not defined

In [12]:
z = x + y

In [13]:
z

'namename2'

In [15]:
z = 'tecnologico'
z.find ('cn')

2

In [16]:
aList = [2 ,3.0, 'name', True, None]
aList

[2, 3.0, 'name', True, None]

In [17]:
type(aList)

list

In [18]:
print(aList)

[2, 3.0, 'name', True, None]

In [19]:
for i in aList:
    print(i,'\t', type(i))

2 	 <class 'int'>
3.0 	 <class 'float'>
name 	 <class 'str'>
True 	 <class 'bool'>
None 	 <class 'NoneType'>

In [20]:
a = [1,2,3,4,5]

In [25]:
a[:3]

[1, 2, 3]

In [22]:
a[4]

5

In [23]:
a[-1]

5

In [26]:
a[-2:-1]

[4]

In [27]:
a[-2]

4

In [28]:
a[-3:-1]

[3, 4]

In [29]:
sum(a)

15

In [30]:
average = sum(a)/len(a)
average

3.0

In [31]:
import numpy as np

In [32]:
average(a)

TypeError: 'float' object is not callable

In [33]:
np.average(a)

3.0

In [34]:
mean(a)

NameError: name 'mean' is not defined

In [36]:
sList = ['a','c','d','b']
sList

['a', 'c', 'd', 'b']

In [37]:
sList.sort()

In [38]:
sList

['a', 'b', 'c', 'd']

In [42]:
import pandas as pd

In [41]:
%ls datasets/

adult.csv                  census.csv     movies.csv
airline_data.csv           coches.csv     nhanes_2015_2016.csv
antropometria00.csv        cwurData.csv   pokemon.csv
antropometria-dataset.csv  data.csv       reg_data.csv
Book3.csv                  headbrain.csv  sample_pivot.csv
Canada.xlsx                mic2.xlsx      tips.csv
Cartwheeldata.csv          mic.xlsx       weight-height.csv

In [46]:
path = 'datasets/Cartwheeldata.csv'
df = pd.read_csv(path)

In [49]:
df.head(2)

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.0,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.0,60.0,70,Y,1,8

In [50]:
df.tail(2)

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
23,24,26,M,2,N,0,69.0,71.0,63,Y,1,5
24,25,23,F,1,Y,1,65.0,63.0,67,N,0,3

In [51]:
df

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.00,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.00,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.00,64.0,85,Y,1,7
3,4,39,F,1,N,0,64.00,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.00,75.0,72,N,0,4
5,6,24,M,2,N,0,75.00,71.0,81,N,0,3
6,7,28,M,2,N,0,75.00,76.0,107,Y,1,10
7,8,22,F,1,N,0,65.00,62.0,98,Y,1,9
8,9,29,M,2,Y,1,74.00,73.0,106,N,0,5
9,10,33,F,1,Y,1,63.00,60.0,65,Y,1,8
10,11,30,M,2,Y,1,69.50,66.0,96,Y,1,6
11,12,28,F,1,Y,1,62.75,58.0,79,Y,1,10
12,13,25,F,1,Y,1,65.00,64.5,92,Y,1,6
13,14,23,F,1,N,0,61.50,57.5,66,Y,1,4
14,15,31,M,2,Y,1,73.00,74.0,72,Y,1,9
15,16,26,M,2,Y,1,71.00,72.0,115,Y,1,6
16,17,26,F,1,N,0,61.50,59.5,90,N,0,10
17,18,27,M,2,N,0,66.00,66.0,74,Y,1,5
18,19,23,M,2,Y,1,70.00,69.0,64,Y,1,3
19,20,24,F,1,Y,1,68.00,66.0,85,Y,1,8
20,21,23,M,2,Y,1,69.00,67.0,66,N,0,2
21,22,29,M,2,N,0,71.00,70.0,101,Y,1,8
22,23,25,M,2,N,0,70.00,68.0,82,Y,1,4
23,24,26,M,2,N,0,69.00,71.0,63,Y,1,5
24,25,23,F,1,Y,1,65.00,63.0,67,N,0,3

In [52]:
type(df)

pandas.core.frame.DataFrame

In [54]:
df.columns

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [58]:
d = df.columns

In [59]:
d.sort()

TypeError: cannot sort an Index object in-place, use sort_values instead

In [60]:
type(d)

pandas.core.indexes.base.Index

In [63]:
d = df.columns.tolist()
d.sort()

In [64]:
d

['Age',
 'CWDistance',
 'Complete',
 'CompleteGroup',
 'Gender',
 'GenderGroup',
 'Glasses',
 'GlassesGroup',
 'Height',
 'ID',
 'Score',
 'Wingspan']

In [ ]:
int(3.99)

In [ ]:
int(3.99)

In [ ]:
type